:root {
  --inverted-text-color: #fff;
  --text-color-1: rgb(19, 22, 32);
  --text-color-2: rgb(38, 46, 53);
  --button-color: rgb(37, 42, 59);
}

body {
  image-rendering: pixelated;
  background-color: #fcfaf8;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='45' height='51.96' patternTransform='scale(10) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M52.48 44.47a15 15 0 01-14.96 0 15 15 0 00-7.48 12.96M7.48 44.42a15 15 0 01-14.96 0M15 57.44c0-5.35-2.9-10.35-7.52-13.02a15 15 0 017.48-12.97M7.48 18.5a14.97 14.97 0 01-14.98-.03m15.02-.03A15 15 0 0115 5.47a15 15 0 00-4.4-10.62m23.8.05A15 15 0 0030 5.53a15 15 0 017.48 12.96 14.9 14.9 0 0015.02-.03m-22.5 13a15.13 15.13 0 017.52 13.01m-7.56-39a15 15 0 01-14.96 0M7.48 18.5a15 15 0 017.48 12.96 15 15 0 0015.04 0 15 15 0 017.48-12.96'  stroke-width='0.25' stroke='hsla(259, 100%, 0%, 0.02)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--size-3);
  width: 100%;
  padding-inline: 1em;
}

.footer-container {
  height: var(--size-12);
  background-color: bisque;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(177ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

.content>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

:where(.content > *) {
  display: grid;
  place-items: center;
  padding: 1em;
  /* outline: 1px solid #cdcdcd; */
}

.content>* {
  margin-block-start: 1rem;
}

.popout {
  background-color: thistle;
}

.feature {
  background-color: paleturquoise;
}

.full {
  border-radius: unset;
  background-color: bisque;
}

/* Page specific styles */
h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-3);
}

h3,
h4 {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--font-letterspacing-2);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  text-align: center;
}
