body {
  background-image: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--size-3);
  width: 100%;
  padding-inline: 1em;
}

.footer-container {
  height: var(--size-12);
  background-color: bisque;
}

.logo-menu-section {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.menu-list {
  display: block;
}

.list {
  display: none;
  &.drawer {
    display: flex;
    flex-direction: column;
    padding: var(--size-3);
  }
}

.logo {
  display: none;
}

@media (width > 1024px) {
  .list {
    padding-left: var(--size-6);
  }
}

@media (width > 768px) {
  .menu-list {
    display: none;
  }
  .list {
    display: flex;
    flex-direction: column;
    padding: var(--size-3);
  }
  .logo {
    display: block;
  }
  .main {
    grid-template-columns: auto 1fr;
  }
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(77ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

.content>* {
  grid-column: content;
  margin-block-start: var(--size-1);
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

.popout {
  background-color: thistle;
}

.feature {
  background-color: paleturquoise;
}

.full {
  border-radius: unset;
  background-color: bisque;
}

/* Page specific styles */
h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-4);
}

h2 {
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-5);
  letter-spacing: var(--font-letterspacing-1);
}

h3 {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-6);
  letter-spacing: var(--font-letterspacing-1);
}

h4,
h5, 
h6 {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-4);
  letter-spacing: var(--font-letterspacing-1);
}

p,ul,ol,dl,h6 {
    font-size: var(--font-size-1);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  text-align: center;
}
