:root {
  --sl-color-primary-50: var(--gray-2);
  --sl-color-primary-100: var(--gray-3);
  --sl-color-primary-200: var(--gray-4);
  --sl-color-primary-300: var(--gray-5);
  --sl-color-primary-400: var(--gray-6);
  --sl-color-primary-500: var(--gray-7);
  --sl-color-primary-600: var(--gray-8);
  --sl-color-primary-700: var(--gray-9);
  --sl-color-primary-800: var(--gray-10);
  --sl-color-primary-900: var(--gray-11);
  --sl-color-primary-950: var(--gray-12);

  --sl-color-neutral-50: var(--gray-2);
  --sl-color-neutral-100: var(--gray-3);
  --sl-color-neutral-200: var(--gray-4);
  --sl-color-neutral-300: var(--gray-5);
  --sl-color-neutral-400: var(--gray-6);
  --sl-color-neutral-500: var(--gray-7);
  --sl-color-neutral-600: var(--gray-8);
  --sl-color-neutral-700: var(--gray-9);
  --sl-color-neutral-800: var(--gray-10);
  --sl-color-neutral-900: var(--gray-11);
  --sl-color-neutral-950: var(--gray-12);

  --sl-button-font-size-small: var(--font-size-0);
  --sl-button-font-size-medium: var(--font-size-1);
  --sl-button-font-size-large: var(--font-size-3);

  --link-visited: var(--sl-color-blue-700);
  --link: var(--sl-color-blue-700);

}


html,
body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  image-rendering: pixelated;
  background-color: #fcfaf8;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='45' height='51.96' patternTransform='scale(10) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M52.48 44.47a15 15 0 01-14.96 0 15 15 0 00-7.48 12.96M7.48 44.42a15 15 0 01-14.96 0M15 57.44c0-5.35-2.9-10.35-7.52-13.02a15 15 0 017.48-12.97M7.48 18.5a14.97 14.97 0 01-14.98-.03m15.02-.03A15 15 0 0115 5.47a15 15 0 00-4.4-10.62m23.8.05A15 15 0 0030 5.53a15 15 0 017.48 12.96 14.9 14.9 0 0015.02-.03m-22.5 13a15.13 15.13 0 017.52 13.01m-7.56-39a15 15 0 01-14.96 0M7.48 18.5a15 15 0 017.48 12.96 15 15 0 0015.04 0 15 15 0 017.48-12.96'  stroke-width='0.25' stroke='hsla(259, 100%, 0%, 0.02)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

a {
  margin-inline: 0;
  margin-block: 0;
  text-underline-offset: 2px;
  text-decoration-color: var(--sl-color-blue-700);
}

main {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  margin-top: auto;
}

/* Buttons */

sl-button {
  &::part(base) {
    border-radius: var(--radius-2);
  }
  &::part(label){
    letter-spacing: var(--font-letterspacing-2);
    font-weight: var(--font-weight-3);
  }
  &.primary::part(label) {
    text-shadow: 0 1px 0 var(--gray-12);
  }
  &.default::part(label) {
    text-shadow: 0 1px 0 var(--gray-3);
  }
  &.ghost::part(base) {
    border-color: transparent;
  }
  &.ghost::part(base):hover {
    background-color: var(--sl-color-primary-50);
  }
  &.ghost::part(base):hover:active {
    background-color: var(--sl-color-primary-100);
  }
}

.nav-panel {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 1fr minmax(100px, 1fr);
  gap: var(--size-6);
  padding: var(--size-3);
  align-items: center;
  justify-content: space-between;
}

.nav-panel > :nth-last-child(1) {
  display: flex;
  justify-content: end;
}

.navigation {
  display: flex;
  gap: var(--size-3);
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.menu {
  display: none;
}

.menu-navigation {
  display: flex;
  gap: var(--size-3);
  flex-direction: column;
}

@media (width < 480px) {
  .menu {
    display: block;  
  }
  .navigation > * {
    display: none;
  }
}