<!doctype html>
<html lang="en">
{% assign siteMeta = siteData | where: 'key', 'siteMeta' | first %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageMeta.title }}</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {{scripts}}
    {{styles}}
</head>

<body>
    <sl-drawer id="menu-drawer" label="Drawer">
        <div class="menu-navigation">
            {% for siteBlock in siteData %}
            {% if siteBlock.key == 'mainNavigation' %}
            {% assign linkedPage = _linkedPages[siteBlock.fields.mainNavigationLink.pageId] %}
            <a href="{{ linkedPage.url }}">{{ siteBlock.fields.mainNavigationLabel.stringValue }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <sl-button id="menu-close-trigger" slot="footer" variant="primary">Close</sl-button>
    </sl-drawer>
    <sl-drawer id="list-drawer" label="Drawer" placement="start">
        <div class="list drawer">
            {% for siteBlock in siteData %}
                {% if siteBlock.key == 'documentationNavigation' %}
                    <h3>{{ siteBlock.fields.groupTitle.stringValue }}</h3>
                    {% for articleLink in siteBlock.fields.articleLink %}
                        {% assign linkedPage = _linkedPages[articleLink.pageId] %}
                        <a href="{{ linkedPage.url }}">{{ linkedPage.title }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <sl-button id="list-close-trigger" slot="footer" variant="primary">Close</sl-button>
    </sl-drawer>
    <header style="padding-bottom: 20px">
        <div class="nav-panel">
            <div class="logo-menu-section">
                <div class="menu-list">
                    <sl-button id="list-open-trigger" class="default" size="small" variant="default" outline="outline">
                        Content
                    </sl-button>
                </div>
                <h4 class="logo">{{ siteMeta.fields.siteTitle.stringValue }}</h4>
            </div>
            <div class="navigation">
                {% for siteBlock in siteData %}
                {% if siteBlock.key == 'mainNavigation' %}
                {% assign linkedPage = _linkedPages[siteBlock.fields.mainNavigationLink.pageId] %}
                <a href="{{ linkedPage.url }}">{{ siteBlock.fields.mainNavigationLabel.stringValue }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div>
                <div class="menu">
                    <sl-button id="menu-open-trigger" class="default" size="small" variant="default" outline="outline">
                        Menu</sl-button>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="list">
            {% for siteBlock in siteData %}
                {% if siteBlock.key == 'documentationNavigation' %}
                    <h3>{{ siteBlock.fields.groupTitle.stringValue }}</h3>
                    {% for articleLink in siteBlock.fields.articleLink %}
                        {% assign linkedPage = _linkedPages[articleLink.pageId] %}
                        <a href="{{ linkedPage.url }}">{{ linkedPage.title }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="content">
            {{ pageArticle }}
        </div>
    </main>
    <footer>
        <div class="footer-container"></div>
    </footer>
    <script>
        function initializeMenu() {
            const menuDrawer = document.querySelector('#menu-drawer');
            const openButton = document.querySelector('#menu-open-trigger');
            const closeButton = document.querySelector('#menu-close-trigger');
            openButton.addEventListener('click', () => menuDrawer.show());
            closeButton.addEventListener('click', () => menuDrawer.hide());
        }
        function initializeList() {
            const menuDrawer = document.querySelector('#list-drawer');
            const openButton = document.querySelector('#list-open-trigger');
            const closeButton = document.querySelector('#list-close-trigger');
            openButton.addEventListener('click', () => menuDrawer.show());
            closeButton.addEventListener('click', () => menuDrawer.hide());
        }
        initializeMenu();
        initializeList();
    </script>
</body>

</html>