<!doctype html>
<html lang="en">
{% assign siteMeta = siteData | where: 'key', 'siteMeta' | first %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageMeta.title }}</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {{scripts}}
    {{styles}}
</head>

<body>
    <sl-drawer id="menu-drawer" label="Drawer" class="drawer-overview">
        <div class="menu-navigation">
            {% for siteBlock in siteData %}
                {% if siteBlock.key == 'mainNavigation' %}
                    {% assign linkedPage = _linkedPages[siteBlock.fields.mainNavigationLink.pageId] %}
                    <a href="{{ linkedPage.url }}">{{ siteBlock.fields.mainNavigationLabel.stringValue }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <sl-button id="menu-close-trigger" slot="footer" variant="primary">Close</sl-button>
    </sl-drawer>
    <header style="padding-bottom: 20px">
        <div class="nav-panel">
            <div>
                <h4>{{ siteMeta.fields.siteTitle.stringValue }}</h4>
            </div>
            <div class="navigation">
                {% for siteBlock in siteData %}
                    {% if siteBlock.key == 'mainNavigation' %}
                        {% assign linkedPage = _linkedPages[siteBlock.fields.mainNavigationLink.pageId] %}
                        <a href="{{ linkedPage.url }}">{{ siteBlock.fields.mainNavigationLabel.stringValue }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <div class="menu">
                    <sl-button id="menu-open-trigger" class="default" size="small" variant="default" outline="outline">Menu</sl-button>
                </div>
            </div>
        </div>
    </header>
    <main class="content">
        <div class="hero-content">
            <h1>
                Page Mosaic
            </h1>
            <h4>
                A web platform for all
            </h4>
            <div>
                <sl-button class="primary" variant="primary">Try for free now</sl-button>
            </div>
            <div>
                <sl-button class="default" variant="default" size="small">Try for free</sl-button>
            </div>
            <div>
                <sl-button class="ghost" variant="text" size="small">Try for free</sl-button>
            </div>
            <div>
                <sl-button variant="text" size="large">Try for free</sl-button>
            </div>
        </div>
        {% for pageBlock in pageData %}
            {% if pageBlock.key == 'firstSection' %}
                <section>
                    <h3>
                        {{ pageBlock.fields.title.stringValue }}
                    </h3>
                    <img src="{{ pageBlock.fields.screenshot.imageSrc }}" alt="{{ pageBlock.fields.screenshot.imageAlt }}" />
                </section>
            {% endif %}
        {% endfor %}
        <!-- <section class="full content" style="background-color: red">
            <div>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="popout">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="feature">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        </section> -->
        <!-- <div class="feature">Test 34</div> -->
    </main>
    <footer>
        <div class="footer-container"></div>
    </footer>
    <script type="module">
        await Promise.allSettled([
            customElements.whenDefined('sl-button'),
            customElements.whenDefined('sl-drawer')
        ]);
        function initializeMenu() {
            const menuDrawer = document.querySelector('#menu-drawer');
            const openButton = document.querySelector('#menu-open-trigger');
            const closeButton = document.querySelector('#menu-close-trigger');
            openButton.addEventListener('click', () => menuDrawer.show());
            closeButton.addEventListener('click', () => menuDrawer.hide());
        }
        initializeMenu();
    </script>
</body>
</html>